{% extends 'base.html'%} {% load static %} {% block content %}

<section class="subpage header-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="sub-header-content">
        <div class="col-md-6">
          <h4>Upcoming Events</h4>
        </div>
        <div class="col-md-6 subpage-nav">
          <ol class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li class="active">Event</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
        |========================
        |  EVENT CONTENT
        |========================
        -->
<section class="section ch-event event-grid" id="ch-events">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.3s">
        <h2>Upcoming <span>Events</span></h2>
        <p>
          Sed diam metus facilisis eu. Sit amet pulvinar dictum quam odio lorem
        </p>
      </div>
      <div class="each-events wow fadeIn" data-wow-delay="0.3s">
        {% if events %} {% for gal in events %}
        <div class="col-md-4 col-sm-6">
          <div class="event-inner item shadow">
            <div class="event-banner">
              <img
                style="height: 250px; width: 400px"
                src="{{gal.event_photo.url}}"
                alt=""
                class="img-responsive"
              />
              <span class="date">{{gal.event_date}}</span>
            </div>
            <div class="event-content">
              <h4>{{gal.title}}</h4>
              <div class="schedule">
                <span class="event-time"
                  ><i class="fa fa-clock-o main-color"></i>{{gal.start_time}} -
                  {{gal.end_time}}</span
                >
                <span class="event-place"
                  ><i class="fa fa-map-marker main-color"></i> los angeles</span
                >
              </div>
              <p>{{gal.desc}}</p>
              <a href="{% url 'eventdetail' gal.id %}" class="btn btn-border">
                Read More</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="center bg-warmimg">No EVENT FOUND</div>
        {% endif %}

        <div class="clearfix"></div>
        <nav aria-label="Page navigation" class="ch-pagination">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous"
                ><span aria-hidden="true">Prev</span></a
              >
            </li>
            <li class="active">
              <a href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next"
                ><span aria-hidden="true">Next</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  join
        |========================
        -->
<section class="section ch-join main-color-bg">
  <div class="container">
    <div class="row section-separator">
      <div class="table-display">
        <div
          class="join-content col-md-8 wow fadeInRight"
          data-wow-delay="0.2s"
        >
          <h3>want to donate for help the world ?</h3>
          <p>
            Phasellus et diam nec massa lobortis venenatis. Nullam varius enim
            at eros ullamcorper semper. Sed diam metus, facilisis eu.
          </p>
        </div>
        <div class="join-btn col-md-4 wow fadeInLeft" data-wow-delay="0.3s">
          <a href="#" class="btn pull-right btn-fill">Donate Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
        |========================
        |  CLIENT
        |========================
        -->
<section class="section ch-client">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.2s">
        <h2>Featured <span>Clients</span></h2>
        <span>
          Get a head-start with one of the included page demos or start
          experimenting.</span
        >
      </div>
      <div class="ch-client-logos col-xs-12">
        <ul>
          <li class="wow fadeInUp" data-wow-delay="0.3s">
            <img
              src="{% static 'assets/images/fc1.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.5s">
            <img
              src="{% static 'assets/images/fc2.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.7s">
            <img
              src="{% static 'assets/images/fc3.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.9s">
            <img
              src="{% static 'assets/images/fc4.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="1.0s">
            <img
              src="{% static 'assets/images/fc5.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include 'partials/_contact.html'%}
</section>
{% endblock %}
