{% extends 'base.html' %} {% load static %} {%block content %}
<section class="subpage header-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="sub-header-content">
        <div class="col-md-6">
          <h4>About Us</h4>
        </div>
        <div class="col-md-6 subpage-nav">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">About</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |   FEATURE CONTENT
        |========================
        -->
<section class="section ch-who-we-are" id="ch-who-we">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.2s">
        <h2>Who <span>we are</span></h2>
        <p>
          Sed cursus elementum arcu vitae mollis. Curabitur vehicula egestas
          libero.
        </p>
      </div>
      <div class="ch-mission-content">
        <div
          class="two-column-content col-md-6 col-sm-6 wow fadeInRight"
          data-wow-delay="0.3s"
        >
          <h4>We Provide Worldwide Charity Service Since 2003</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi .
          </p>
        </div>
        <div
          class="two-column-content col-md-6 col-sm-6 wow fadeInLeft"
          data-wow-delay="0.5s"
        >
          <div
            class="inner"
            style="background-image: url(/static/assets/images/g10.png)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |   MISSION CONTENT
        |========================
        -->
<section class="section ch-mission bg-2" id="ch-mission">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.2s">
        <h2>We are <span>Helping Hands</span></h2>
        <p>
          Sed cursus elementum arcu vitae mollis. Curabitur vehicula egestas
          libero.
        </p>
      </div>
      <div class="ch-mission-content">
        <div
          class="col-md-4 col-sm-4 mission-item wow fadeInRight"
          data-wow-delay="0.3s"
        >
          <div class="row">
            <div class="col-md-3 col-sm-3 icon">
              <i class="fa main-color flaticon-fire"></i>
            </div>
            <div class="col-md-9 col-sm-9 padding-left-o">
              <h4 class="margin-top-o">Our Mission</h4>
              <p>
                Cras venenatis nibh sed velit posuere pharetra. Donec sit amet
                magna vel v elit gravida lobortis auctor sed dui.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 mission-item wow fadeInRight"
          data-wow-delay="0.5s"
        >
          <div class="row">
            <div class="col-md-3 col-sm-3 icon">
              <i class="fa main-color flaticon-rocket-launch"></i>
            </div>
            <div class="col-md-9 col-sm-9 padding-left-o">
              <h4 class="margin-top-o">Our Vision</h4>
              <p>
                Cras venenatis nibh sed velit posuere pharetra. Donec sit amet
                magna vel v elit gravida lobortis auctor sed dui.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 mission-item wow fadeInRight"
          data-wow-delay="0.8s"
        >
          <div class="row">
            <div class="col-md-3 col-sm-3 icon">
              <i class="fa main-color flaticon-list"></i>
            </div>
            <div class="col-md-9 col-sm-9 padding-left-o">
              <h4 class="margin-top-o">Our History</h4>
              <p>
                Cras venenatis nibh sed velit posuere pharetra. Donec sit amet
                magna vel v elit gravida lobortis auctor sed dui.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  FAME
        |========================
        -->
<section class="section ch-fame main-color-bg">
  <div class="container">
    <div class="row section-separator">
      <div class="col-md-6 join-v wow fadeInRight" data-wow-delay="0.5s">
        <h3>Ready to became a Volanteer?</h3>
        <p>
          Phasellus et diam nec massa lobortis venenatis. Nullam varius enim at
          eros ullamcorper semper.
        </p>
        <div class="join-btn">
          <a href="#" class="btn btn-fill">Join Now</a>
        </div>
      </div>
      <div class="col-md-6 fame-item wow fadeInLeft" data-wow-delay="0.5s">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="vl-icon">
              <i class="fa flaticon-graphic"></i>
              <h3 class="number aw">767</h3>
              <span class="text">Awared</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="vl-icon">
              <i class="fa flaticon-profile"></i>
              <h3 class="number" id="aw">555</h3>
              <span class="text">Volanteer</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="vl-icon">
              <i class="fa flaticon-graphic"></i>
              <h3 class="number">555</h3>
              <span class="text">Projects</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  volanteer
        |========================
        -->
<section class="section ch-volanteer" id="ch-volanteer">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.1s">
        <h2>Our <span>Volanteers</span></h2>
        <p>
          Sed diam metus, facilisis eu diam sit amet pulvinar dictum quam odio
          lorem
        </p>
      </div>
      <div class="each-volanteer">
        <div class="col-md-3 col-sm-6">
          <div class="vl-thumb wow fadeInRight" data-wow-delay="0.3s">
            <img
              src="{% static 'assets/images/t.jpeg' %}"
              alt=""
              class="img-responsive"
            />
            <div class="vl-content center shadow">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
              <h4>John doe</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vl-thumb wow fadeInRight" data-wow-delay="0.5s">
            <img
              src="{% static 'assets/images/s.jpeg' %}"
              alt=""
              class="img-responsive"
            />
            <div class="vl-content center shadow">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
              <h4>Sarah lee</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vl-thumb wow fadeInRight" data-wow-delay="0.7s">
            <img
              src="{% static 'assets/images/s.jpeg' %}"
              alt=""
              class="img-responsive"
            />
            <div class="vl-content center shadow">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
              <h4>Jonathan smith</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vl-thumb wow fadeInRight" data-wow-delay="0.9s">
            <img
              src="{% static 'assets/images/t.jpeg' %}"
              alt=""
              class="img-responsive"
            />
            <div class="vl-content center shadow">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
              <h4>Maria sarapova</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  Join
        |========================
        -->
<section class="section ch-join main-color-bg">
  <div class="container">
    <div class="row section-separator">
      <div class="table-display">
        <div class="join-content col-md-8 wow fadeInRight">
          <h3>want to donate for help the world ?</h3>
          <p>
            Phasellus et diam nec massa lobortis venenatis. Nullam varius enim
            at eros ullamcorper semper. Sed diam metus, facilisis eu.
          </p>
        </div>
        <div class="join-btn col-md-4 wow fadeInLeft">
          <a href="#" class="btn pull-right btn-fill">Donate Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  CLIENT
        |========================
        -->
<section class="section ch-client">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.2s">
        <h2>Featured <span>Clients</span></h2>
        <span>
          Get a head-start with one of the included page demos or start
          experimenting.</span
        >
      </div>
      <div class="ch-client-logos col-xs-12">
        <ul>
          <li class="wow fadeInUp" data-wow-delay="0.3s">
            <img
              src="{% static 'assets/images/fc1.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.5s">
            <img
              src="{% static 'assets/images/fc2.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.7s">
            <img
              src="{% static 'assets/images/fc3.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.9s">
            <img
              src="{% static 'assets/images/fc4.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="1.0s">
            <img
              src="{% static 'assets/images/fc5.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include 'partials/_contact.html'%}
</section>
{% endblock %}
