{% extends 'base.html'%} {% load static %} {% block content %}

<section class="subpage header-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="sub-header-content">
        <div class="col-md-6">
          <h4>Contact us</h4>
        </div>
        <div class="col-md-6 subpage-nav">
          <ol class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
        |========================
        |  CONTACT
        |========================
        -->
<
<div class="container shadow contact-form">
  <div class="row">
    <div
      class="col-md-10 col-sm-12 col-xs-12 center wow fadeIn"
      data-wow-delay="0.2s"
    >
      <div class="section-title">
        <h2>Register <span>Now</span></h2>
      </div>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="form-group col-md-4">
            <input
              type="text"
              name="first_name"
              class="form-control"
              id="name"
              placeholder="full Name*"
              required=""
            />
          </div>
          <div class="form-group col-md-4">
            <input
              type="email"
              name="username"
              class="form-control"
              id="email"
              placeholder="Email*"
              required=""
            />
          </div>
          <div class="form-group col-md-4">
            <input
              type="text"
              name="last_name"
              class="form-control"
              id=""
              placeholder="phone number*"
              required=""
            />
          </div>
          <div class="form-group col-md-8">
            <input
              type="text"
              name="email"
              class="form-control"
              id=""
              placeholder="state"
            />
          </div>
          <!-- <div class="form-group col-md-4">
            <input class="form-control" placeholder="localgoverment" />
          </div> -->

          <div class="form-group col-md-6">
            <input
              type="password"
              name="password"
              class="form-control"
              id="email"
              placeholder="password*"
              required=""
            />
          </div>
          <div class="form-group col-md-6">
            <input
              type="password"
              name="password2"
              class="form-control"
              id=""
              placeholder="password*"
              required=""
            />
          </div>

          <div class="btn-form col-xs-12">
            <input
              type="submit"
              value="REGISTER"
              class="btn btn-block btn-primary"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
