{% extends 'base.html'%} {% load static %} {% block content %}

<section class="subpage header-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="sub-header-content">
        <div class="col-md-6">
          <h4>Donation Causes</h4>
        </div>
        <div class="col-md-6 subpage-nav">
          <ol class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="causes-grid.html">Causes</a></li>
            <li class="active">Causes Single</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  CAUSES CONTENT
        |========================
        -->
<section class="section ch-causes ch-donation-causes-list" id="ch-causes">
  <div class="container">
    <div class="row section-separator">
      <div class="each-causes">
        <div class="col-md-12 col-sm-12 ch-causes-item-details">
          <div class="row">
            <div class="white-bg shadow">
              <div class="cause-inner-content">
                <h2>Charity for summer</h2>
                <div class="fund-circle">
                  <span class="raised"
                    >Raised: <span class="amount main-color">$9,240</span></span
                  >
                  <span
                    >Goal: <span class="amount main-color">$11,000</span></span
                  >
                </div>
                <span class="progress-val">84%</span>
                <div class="fund-process">
                  <div class="progress">
                    <div class="progress-bar" style="width: 80%"></div>
                  </div>
                </div>
                <a href="#" class="btn btn-border"> Donate Now</a>
              </div>
              <img
                src="{% static 'assets/images/crw.png' %}"
                alt=""
                class="img-responsive"
              />
              <div class="detail-content">
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                  quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequ- untur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                  dolor sit amet, consectetur, adipisci velit, sed quia non
                  numquam eius modi tempora incidunt ut labore et dolore magnam
                  aliquam quaerat voluptatem.
                </p>
                <p>
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                  consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  voluptate velit esse quam nihil molestiae consequatur, vel
                  illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <blockquote class="main-color center">
                  “Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quam nihil molestiae consequatur, vel illum qui
                  dolorem eum fugiat quo voluptas nulla pariatur? ”
                </blockquote>
                <p>
                  Voluptatem accusantium doloremque laudantium, totam rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                  voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  sed quia consequuntur magni dolores eos qui ratione voluptatem
                  sui nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                  dolor sit amet.
                </p>
                <p>
                  Voluptatem accusantium doloremque laudantium, totam rem
                  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                  voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  sed quia consequuntur magni dolores eos qui ratione voluptatem
                  sui nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                  dolor sit amet.
                </p>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                  quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequ- untur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                  dolor sit amet, consectetur, adipisci velit, sed quia non
                  numquam eius modi tempora incidunt ut labore et dolore magnam
                  aliquam quaerat voluptatem.
                </p>
                <p>
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                  consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  voluptate velit esse quam nihil molestiae consequatur, vel
                  illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
        |========================
        |  join
        |========================
        -->
<section class="section ch-join main-color-bg">
  <div class="container">
    <div class="row section-separator">
      <div class="table-display">
        <div
          class="join-content col-md-8 wow fadeInRight"
          data-wow-delay="0.2s"
        >
          <h3>want to donate for help the world ?</h3>
          <p>
            Phasellus et diam nec massa lobortis venenatis. Nullam varius enim
            at eros ullamcorper semper. Sed diam metus, facilisis eu.
          </p>
        </div>
        <div class="join-btn col-md-4 wow fadeInLeft" data-wow-delay="0.5s">
          <a href="#" class="btn pull-right btn-fill">Donate Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
        |========================
        |  CLIENT
        |========================
        -->
<section class="section ch-client">
  <div class="container">
    <div class="row section-separator">
      <div class="section-title wow fadeIn" data-wow-delay="0.2s">
        <h2>Featured <span>Clients</span></h2>
        <span>
          Get a head-start with one of the included page demos or start
          experimenting.</span
        >
      </div>
      <div class="ch-client-logos col-xs-12">
        <ul>
          <li class="wow fadeInUp" data-wow-delay="0.3s">
            <img
              src="{% static 'assets/images/fc1.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.5s">
            <img
              src="{% static 'assets/images/fc2.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.7s">
            <img
              src="{% static 'assets/images/fc3.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="0.9s">
            <img
              src="{% static 'assets/images/fc4.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
          <li class="wow fadeInUp" data-wow-delay="1.0s">
            <img
              src="{% static 'assets/images/fc5.png' %}"
              alt=""
              class="img-responsive"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include 'partials/_contact.html'%}
</section>
{% endblock %}
